
.footer-container{
    width:80%;
    margin: auto;
    padding: 5vh 0;
    border-top: 0.2px solid #eeee;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.footer-container-block{
    width: 27%;
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: #a7a7;
}
.footer-container-exellent{
    width: 40%;
    border-right: 0.5px solid #eeee;
    border: 2px solid #888888;
}
.footer-excellent-text{
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}
.star-block{
    display: flex;
    flex-direction: row;
}
.footer-excellent-star{
    width: 25px;
    height: 25px;
    margin: 1px;
}
.footer-excellent-star-green{
    width: 15px;
    height: 15px;
    padding-right: 2px;
}
.footer-star-text{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color:#999;
}
.excellent-bassed{
   position: absolute;
   left: 35%
}

.footer-container-base{
    width: 40%;
    border: 2px solid #888888;
}
.footer-base-numbers{
    font-size: 20px;
    font-weight: 700;
    color:#000;
}
.footer-base-text{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color:#999;
}

.footer-container-consent{
    padding: 1.2vh 0.8vw;
    background-color: rgb(238,240,249);
    border-radius: 20px
}
.footer-consent-text{
    font-size: 14px;
    font-weight: 400;
    color: #637CF7;;
}
.footer-container-consent:hover{
   background-color:#ffff;
}
.footer-container-contact{
    width: 50%;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}
