.search-container{
    width: 100%;
    background-color: rgb(99 124 247 / .08);
}
.search-container-section{
    width: 95%;
    margin: auto;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}
.search-container-block{
    width: 800px;
    height: 80px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 999px;
    box-shadow: 0 16px 40px rgb(0 0 0 / .02);
    display: flex;
    align-items: center;
}
.search-block-img{
    margin-left: 3vw;
}
.search-block-input{
    width: 80%;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: rgb(25 24 74 / .4);
    border: none;
}
.search-block-button{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF6955;
}

.search-nav{
    width: 43.5vw;
    margin: auto;
    padding-top: 4vh;
    padding-bottom: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-nav-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #343434;
}
.search-nav-livk{
    padding: 1.2vh 0.8vw;
    background-color: rgb(99 124 247 / .08);
    border-radius: 20px
}
.search-link-text{
    font-size: 16px;
    color: #637CF7;
}
